/* styles.css */

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
    /* Agrega otros formatos de fuente aquí si son necesarios */
}

body {
    font-family: 'Roboto', sans-serif; /* Usando la fuente Roboto */
    background: linear-gradient(135deg, #330066, #000080);
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
}

button:hover {
    background-color: #555;
}
